body {
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-blend-mode:saturation;
    background-size: cover;

}

.Fsection {
    justify-content: space-around;
}

nav {
   width: 100%;
    font-family:poppins;
    position: fixed;
    height: 92px;
    justify-content: space-between;
    display: flex;
    background-color: rgb(131, 210, 214);
}

.leftsection {
    display: flex;
    margin: 0px 80px;

}

.leftsection img {
    margin: 6px;

}

.leftsection h3 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 22px 30px;


}


nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 10px;

}

nav ul li a {
    font-family: roboto mono;
    font-weight: bold;
    padding: 20px;
    display: flex;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);


}

.Ssection {
    
    display: flex;
    justify-content:space-around;
}

.text {
    
    width: 620px;
    margin: 130px 0px;
    font-size: 4rem;
    color: rgb(0, 94, 255);
    display: flex;
    background-color: rgba(205, 199, 12, 0.921);
    border:0px solid;
    border-radius: 30px;
    font-family: roboto mono;
}
.text img{
    margin-left: 30px;
    margin-right: 10px;
}






nav ul li a:hover{
    font-size:1.4rem;
    letter-spacing: 2px;
    border:1px solid;
    background-color: rgb(0, 179, 255);
    color: white;
    box-shadow:5px 5px 20px 3px black;
    font-weight: 1000;
    transition-duration: 0.5s;
    border-radius: 10px;


}
.Tsection{
   display: flex;
}
.box{
    
    
    margin: 0px 35px;
    margin-bottom: 80px;
    width: 20%;

    background-color: aqua;
    border: 5px solid aqua;
    border-radius: 10px;
}


.image img{
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
    width:100% ;                            
    display: block;
    
}
.image img:hover{
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0px 10px 30px 10px black;
    transition-duration: 0.3s;
    

}
.name{
    letter-spacing: 1px;
    text-align:left;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-items: center;
    justify-content:space-around;
    padding: 10px;
      
    
    
}
.name img{
    margin-left: 100px;
    margin-top:13px;
    box-sizing: border-box;
    
}
.name:hover{
    color: rgb(0, 0, 0);
}
.sbarbox{
    width: 50px;
    height: 50px;
    margin: 144px 100px;
    
    display: flex;
    align-items: center;
    
    border-radius:25px;

}
.sbarbox img{
    box-sizing: border-box;
    cursor: pointer;
}
.sbarbox input{
    border: 2px solid black;
    width:0px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: 2px;
    border-radius: 25px;
    font-size:1.3rem;
    transition-duration: 0.3s;
    visibility: hidden;

}
.sbarbox:hover input{
    visibility: visible;
    width: 400px;
    
    
}